# Lambda

A lambda function is a small (one line) anonymous function defined without a name.

***Lambda arguments: expession***

In [1]:
# Example 1: Add 69 to an input argument
def add_69(num):
    return num + 69

add_69(1)

70

In [2]:
addnum = lambda num: num + 69
addnum

In [3]:
addnum(1)

70

In [4]:
# Example 2: x + y - z
cal = lambda x,y,z: x+y-z

cal(1,3,2)

2

## 1. Custom sort using lambda as key parameter.

In [6]:
# Example 1: Sort the coordinates by x or by y
coordinate2D = [(6,9), (9,6), (-1,3), (2,10)]

In [7]:
# Sort by x
sorted(coordinate2D)

[(-1, 3), (2, 10), (6, 9), (9, 6)]

In [8]:
# Sort by y
sorted(coordinate2D, key=lambda point: point[1])

[(-1, 3), (9, 6), (6, 9), (2, 10)]

In [9]:
# Example 2: Sort by pairs
number_list = [5,3,-2,4,1,-1,4,5]

In [10]:
# Sort by default
sorted(number_list)

[-2, -1, 1, 3, 4, 4, 5, 5]

In [11]:
# Sort by absolute value
sorted(number_list, key=lambda x: abs(x))

[1, -1, -2, 3, 4, 4, 5, 5]

## 2. Use lambda for map()

***map(func, seq)***: transforms each element with the function.

In [12]:
# Example 1: Capitalize the first letter of each keyword in a list 
list_keyword = ["anh nguyen", "welcome", "you guys"]

In [13]:
map(lambda x: x.title(), list_keyword)

In [19]:
# Approach 1: Use list + map + lambda
new_list = list(map(lambda x: x.title(), list_keyword))
new_list

['Anh Nguyen', 'Welcome', 'You Guys']

In [22]:
# Approach 2: Use for loop
new_list1 = [keyword.title() for keyword in list_keyword]
new_list1

['Anh Nguyen', 'Welcome', 'You Guys']

## 3. Use lambda for filter()

***filter(func, seq)***: returns all elements for which function evaluates to True.

In [16]:
# Example: Return odds
list_number = [1,2,3,4,5,6,7,8,9,10]

In [17]:
filter(lambda x: x%2 != 0, list_number)

In [23]:
# Approach 1: Use list + filter + lambda
new_list2 = list(filter(lambda x: x%2 != 0, list_number))
new_list2

[1, 3, 5, 7, 9]

In [24]:
# Approach 2: Use for loop
new_list2 = [x for x in list_number if x%2 != 0]
new_list2

[1, 3, 5, 7, 9]

# 4. Use lambda for reduce()

***reduce(func, seq)***: repeatedly applies the function to the elements and returns a single value, ***func*** takes 2 arguments.

In [27]:
# Example 1: Calculate the sum 
sequence = [1,3,5,6,7,2,3]

In [28]:
# Approach 1: Use reduce() in functools + lambda
from functools import reduce
reduce(lambda a,b: a+b, sequence)

27

In [29]:
# Approach 2: Use sum()
sum(sequence)

27

In [30]:
# Example 2: Find max
reduce(lambda a,b: a if a>b else b, sequence)

7

In [31]:
max(sequence)

7