# Data Structure

## 1. Tuple

In [7]:
# Create a tuple by wrapping a comma-separated sequence of values in parentheses
tup = (4, 5, 6)
tup

(4, 5, 6)

In [8]:
# Parentheses can be omitted
tup = 4, 5, 6
tup

(4, 5, 6)

In [9]:
# Convert any sequence or iterator into a tuple
tuple([4, 0 ,2])

(4, 0, 2)

In [10]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
# Create a tuple of tuples
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [12]:
# Slicing tuple
nested_tup[0]

(4, 5, 6)

In [13]:
# Tuple is immutable
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [14]:
# If an object inside a tuple is mutable (list), we can modify it
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [15]:
# Concatenate tuples using the + operator
(4, None, 'foo') + (6, 9) + ('bar',)

(4, None, 'foo', 6, 9, 'bar')

In [16]:
# Create many copies of tuples with *
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [17]:
# Unpack the value on the righthand side
tup = (4, 5, 6)
a, b, c = tup
b

5

In [18]:
# Unpack sequences with nested tuples
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [19]:
# Swap variables
a, b = 1, 2
print(a)
print(b)

1
2

In [20]:
b, a = a, b
print(a)
print(b)

2
1

In [21]:
# Iterate over sequences of tuples or lists
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
# Ignore unwanted elements
values = 1, 2, 3, 4, 5

a, b, *rest = values

print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

### Tuple methods

In [23]:
# Count the number of occurrences of a value
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## 2. List

In [24]:
# Define a list using []
a_list = [2, 3, 7, None]

# Define a list using list()
tup = ("foo", "bar", "baz")
b_list = list(tup)

b_list

['foo', 'bar', 'baz']

In [25]:
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding or removing elements

In [26]:
# Append an element to the end of a list
b_list.append("dwarf")
b_list

['foo', 'bar', 'baz', 'dwarf']

In [27]:
# Insert an element at a specific location in the list
b_list.insert(1, "red")
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

* `.remove()` is slower than `.pop()` since it has to search for the element first.

In [28]:
# Remove an element based on a particular index
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [29]:
# Remove an element by value
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf']

In [30]:
# Check if a list containing a value
'red' in b_list

True

In [32]:
'baz' not in b_list

False

### Concatenating and combining lists

There are 2 ways to add elements to a list:
* `+` operator: cost operation performance because the computer has to create a new list (another object)
* `.extend` : keep the original list, just add new elements at the end

In [33]:
# Add two lists together using the + operator
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [34]:
# Append multiple elements using .extent()
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

### Sorting

In [35]:
# Sort without creating a new object
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [36]:
# key argument: function that produces a value to use to sort the objects
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [53]:
# Copy to another list and then sort
# Sorted is slower than .sort
c = sorted(a)
c

[1, 2, 3, 5, 7]

### Slicing

In [37]:
# start:stop
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [38]:
seq[:5]

[7, 2, 3, 7, 5]

In [39]:
seq[-4:]

[5, 6, 0, 1]

In [40]:
seq[-6:-2]

[3, 7, 5, 6]

In [41]:
# step: take every 2nd element
seq[::2]

[7, 3, 5, 0]

In [42]:
# Reverse a list
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

## 3. Dictionary

In [43]:
# Create a dictionary using {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [44]:
# Access, insert or set elements
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [45]:
d1['b']

[1, 2, 3, 4]

In [46]:
# Check if a dictionary contains a key
'b' in d1

True

In [47]:
# Delete values using 'del' or '.pop'
d1[5] = "some value"
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [50]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [51]:
d1.pop("dummy")
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [52]:
# Access to keys of a dictionary
list(d1.keys())

['a', 'b', 7]

In [54]:
# Access to values of a dictionary
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [55]:
# Iterate over both keys and values
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [56]:
# Merge one dictionary into another
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### Creating dictionaries from sequences

In [57]:
key_list = ['a', 'b', 'c', 1]
value_list= [123, 33, 'asdas', 22]
mapping = {}

for key, value in zip(key_list, value_list):
    mapping[key] = value
    
mapping

{'a': 123, 'b': 33, 'c': 'asdas', 1: 22}

`zip` pairs up the elements of a number of lists, tupples or other sequences to create a list of tupples:

In [58]:
tupl = zip(key_list, value_list)
mapp = dict(tupl)

mapp

{'a': 123, 'b': 33, 'c': 'asdas', 1: 22}

In [59]:
tuples = zip(range(5), reversed(range(5)))
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [78]:
# Combine zip with enumerate
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]

# enumerate can take any sequence
for index, (a,b) in enumerate(zip(seq1, seq2)):
    print(f'{index}: {a}, {b}')

0: foo, one
1: bar, two
2: baz, three

### Default values

`.setdefault(key, default)` method is used to ensure that a key exists in a dictionary.
* If the key has already been in the dictionary, return the existing value without changing anything
* If the key is not in the dictionary, add a `(key, default)` pair to the list

`.setdefault` will help you access to the `value` of each pair. Then use `.append`, we can add value(s) to the `default` value.

In [60]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

# Use .setdefault() to generate a list of words having the same first letter
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Using `defaultdict`, it will by default set a dictionary in which the **value** of each key-value pair is a **list**.

In [62]:
# Generate the default value for each slot in the dictionary
from collections import defaultdict

by_letter = defaultdict(list)
by_letter

defaultdict(list, {})

In [ ]:
for word in words:
    by_letter[word[0]].append(word)

by_letter

`dict.get(key, default)`

The `.get()` method is used to ***safely*** retrieve the value of a key from a dictionary with the option to provide a default value if the key doesn't exist.

* `key`: the key you want to look up.
* `default`: (optional) value to return if the key is not found. If omitted, returns `None`.

`.get()` will retrieve value safely, while `.setdefault()` will retrieve or set default value.

In [63]:
def histogram(s):
    d = dict()
    for c in s:
        if c in d:
            d[c] = d[c] + 1
        else:
            d[c] = 1
    return d

histogram('aasfweffss')

{'a': 2, 's': 3, 'f': 3, 'w': 1, 'e': 1}

In [61]:
# Use .get to map the frequency to each letter in a word
def histogram(s):
    d = dict()
    for c in s:
        d[c] = 1 + d.get(c, 0) # d.get(c,0) retrieves value of each key, if it's not available, return 0
    return d

histogram('aasfweffss')

{'a': 2, 's': 3, 'f': 3, 'w': 1, 'e': 1}

## 4. Set

In [64]:
# Set is an unordered collection of unique elements
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [65]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

`set` supports mathematical set operations like union, intersection, difference, and
symmetric difference.

In [66]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [67]:
# Union of two sets
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
# Intersection between two sets
a.intersection(b)

{3, 4, 5}

In [70]:
a & b

{3, 4, 5}

In [71]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [72]:
# Set the contents of c to be the union of the elements in c and b
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
d = a.copy()
d

{1, 2, 3, 4, 5}

In [74]:
# Set the contents of d to be the intersection of the elements in d and b
d &= b
d

{3, 4, 5}

In [75]:
# Check if a set is a subset of another set
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [76]:
# Sets are equal if their contents are equal
{1, 2, 3} == {3, 2, 1}

True

## 5. List, Set & Dictionary comprehensions

**[expr for value in collection if condition]**

In [79]:
strings = ["a", "as", "bat", "car", "dove", "python"]

upper = [x.upper() for x in strings if len(x) > 2]
upper

['BAT', 'CAR', 'DOVE', 'PYTHON']

**dict_comp = {key-expr: value-expr for value in collection if condition}**

In [80]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

**set_comp = {expr for value in collection if condition}**

In [81]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [82]:
set(map(len, strings))

{1, 2, 3, 4, 6}

**Nested list comprehensions**

In [83]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [84]:
names_of_interest = []

for names in all_data:
    enough_as = [name for name in names if name.count('a') >= 2]
    names_of_interest.extend(enough_as)

names_of_interest

['Maria', 'Natalia']

In [85]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [86]:
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [88]:
[list(tup) for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions

In [89]:
# Function starts with the 'def' keyword
def my_function(x, y):
    return x + y

my_function(1, 2)

3

In [91]:
# Call the "fruitfull" function
# fruitfull function (perform action and return the result)
# void function (performs an action but doesn't return anything, like print)
result = my_function (1, 2)
result

3

In [92]:
# Create a void function
def function_without_return(x):
    print(x)
    
result = function_without_return("hello!")
result

hello!

In [93]:
print(result)

None

In [94]:
# Each function can have positional (default) & keyword arguments (optional)
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [95]:
my_function2(5, 6, z=0.7)

0.06363636363636363

In [96]:
my_function2(3.14, 7, 3.5)

35.49

In [97]:
my_function2(10, 20)

45.0

## Returning multiple values

In [108]:
# Return multiple values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c # return a tuple (1 object)

# unpack tuple
a,b,c = f()

5

In [109]:
a

5

In [110]:
b

6

In [111]:
c

7

In [106]:
return_value = f()
return_value

(5, 6, 7)

In [99]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a": a, "b": b, "c": c}

return_value = f()
return_value

{'a': 5, 'b': 6, 'c': 7}

## Functions are objects

In [112]:
states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south carolina##", "West virginia?"]

In [113]:
import re

# Approach 1: Put all buit-in methods in the function
def clean_strings(strings):
    result = []
    for value in strings:
        # split each word to a row
        value = value.strip()
        # remove special characters
        value = re.sub("[!#?]", "", value)
        # capitalize the first letter of each word
        value = value.title()
        
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [114]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

# Approach 2: Make a list of the operations you want to apply
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [115]:
# Use the 'map' built-in function
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [119]:
def clean_text_pipeline():
    def strip_text(s):
        return s.strip()

    def remove_punctuation(s):
        import re
        return re.sub(r"[!#?]", "", s)

    def title_case(s):
        return s.title()

    def full_clean(s):
        s = strip_text(s)
        s = remove_punctuation(s)
        s = title_case(s)
        return s

    return full_clean

# Create the cleaning function
clean_fn = clean_text_pipeline()

# Apply it to a list of strings using map
cleaned = list(map(clean_fn, states))
cleaned

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

## 3. Anonymous (Lambda) functions

In [123]:
def short_function(x):
    return x*2
short_function(5)

10

In [127]:
# Use lambda function
short_func = lambda x: x*2
short_func(5)

10

In [120]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [128]:
# Or we can use list comprehension here
[x * 2 for x in ints]

[8, 0, 2, 10, 12]

In [129]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

# Sort a collection of strings by the number of distinct letters in each
strings.sort(key=lambda x: len(set(x)))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## 4. Generator

In [130]:
some_dict = {"a": 1, "b": 2, "c": 3}

for key in some_dict:
    print(key)

a
b
c

In [131]:
# Create an interator object
dict_iterator = iter(some_dict)
dict_iterator

In [132]:
list(dict_iterator)

['a', 'b', 'c']

A ***generator*** is a convenient way, similar to writing a normal function, to construct a new iterable object.
Whereas normal functions execute and return a single result at a time, generators can return a sequence of multiple values by pausing and resuming execution each time the generator is used.

In [133]:
# To create a generator, use the yield keyword instead of 'return' in a function
def squares(n=10):
    print(f"Generating squares from 1 to {n**2}:")
    for i in range(1, n+1):
        yield i ** 2

gen = squares()

In [135]:
# Call the generator, no code is immediately executed
gen

In [136]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100:
1 4 9 16 25 36 49 64 81 100

### Generator expressions

In [137]:
# Enclose what would otherwise be a list comprehension within parentheses
gen = (x ** 2 for x in range(100))
gen

In [138]:
# Equivalent to this
def _make_gen():
    for x in range(100):
        yield x ** 2
        
gen = _make_gen()
gen

In [139]:
sum(x**2 for x in range(100))

328350

In [140]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### itertools module

In [141]:
import itertools

def first_letter(x):
    return x[0]

In [142]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']