# Data Structure

## 1. Tuple

In [1]:
# Create a tuple by wraping a comma-separated sequence of values in parentheses
tup = (4, 5, 6)
tup

(4, 5, 6)

In [2]:
# Parentheses can be omitted
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
# Convert any sequence or iterator into a tuple
tuple([4, 0 ,2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
# Create a tuple of tuples
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [6]:
# Slicing tuple
nested_tup[0]

(4, 5, 6)

In [7]:
# Tuple is immutable
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [8]:
# If an object inside a tuple is mutable (list), we can modify it
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [9]:
# Concatenate tuples using the + operator
(4, None, 'foo') + (6, 9) + ('bar',)

(4, None, 'foo', 6, 9, 'bar')

In [10]:
# Create many copies of tuples with *
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [11]:
# Unpack the value on the righthand side
tup = (4, 5, 6)
a, b, c = tup
b

5

In [12]:
# Unpack sequences with nested tuples
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [13]:
# Swap variables
a, b = 1, 2
print(a)
print(b)

1
2

In [14]:
b, a = a, b
print(a)
print(b)

2
1

In [15]:
# Iterate over sequences of tuples or lists
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [16]:
# Ignore unwanted elements
values = 1, 2, 3, 4, 5

a, b, *rest = values

print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

### Tuple methods

In [17]:
# Count the number of occurences of a value
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## 2. List

In [18]:
# Define a list using []
a_list = [2, 3, 7, None]

# Define a list using list()
tup = ("foo", "bar", "baz")
b_list = list(tup)

b_list

['foo', 'bar', 'baz']

In [19]:
gen = range(10)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding or removing elements

In [20]:
# Append an element to the end of a list
b_list.append("dwarf")
b_list

['foo', 'bar', 'baz', 'dwarf']

In [21]:
# Insert an element at a specific location in the list
b_list.insert(1, "red")
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [22]:
# Remove an element based on a particular index
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [23]:
# Remove an element by value
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf']

In [24]:
# Check if a list containing a value
'red' in b_list

True

In [25]:
'baz' not in b_list

False

### Concatenating and combining lists

In [26]:
# Add two lists together using the + operator
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [27]:
# Append multiple elements using .extent()
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

### Sorting

In [28]:
# Sort without creating a new object
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [29]:
# key argument: function that produces a value to use to sort the objects
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

### Slicing

In [30]:
# start:stop
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [31]:
seq[:5]

[7, 2, 3, 7, 5]

In [32]:
seq[-4:]

[5, 6, 0, 1]

In [33]:
seq[-6:-2]

[3, 7, 5, 6]

In [34]:
# step: take every other element
seq[::2]

[7, 3, 5, 0]

In [35]:
# Reverse a list
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

## 3. Dictionary

In [36]:
# Create a dictionary using {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [37]:
# Access, insert or set elements
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [38]:
d1['b']

[1, 2, 3, 4]

In [39]:
# Check if a dictionary contains a key
'b' in d1

True

In [40]:
# Delete values using 'del' or '.pop'

d1[5] = "some value"
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [41]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [42]:
d1.pop("dummy")
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [43]:
# Access to keys of a dictionary
list(d1.keys())

['a', 'b', 7]

In [44]:
# Access to values of a dictionary
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [45]:
# Iterate over both keys and values
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [46]:
# Merge one dictionary into another
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### Creating dictionaries from sequences

In [47]:
key_list = ['a', 'b', 'c', 1]
value_list= [123, 33, 'asdas', 22]
mapping = {}

for key, value in zip(key_list, value_list):
    mapping[key] = value
    
mapping

{'a': 123, 'b': 33, 'c': 'asdas', 1: 22}

In [48]:
tuples = zip(range(5), reversed(range(5)))
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### Default values

In [49]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

# Use .setdefault() to generate a list of words having the same first letter
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [50]:
# Use .get to map the frequency to each letter in a word
def histogram(s):
    d = dict()
    for c in s:
        d[c] = 1 + d.get(c, 0)
    return d

histogram('aasfweffss')

{'a': 2, 's': 3, 'f': 3, 'w': 1, 'e': 1}

In [51]:
# Generate the default value for each slot in the dictionary
from collections import defaultdict

by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## 4. Set

In [52]:
# Set is an unordered colection of unique elements
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [53]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [54]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [55]:
# Union of two sets
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
# Intersection between two sets
a.intersection(b)

{3, 4, 5}

In [58]:
a & b

{3, 4, 5}

In [59]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [60]:
# Set the contents of c to be the union of the elements in c and b
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
d = a.copy()
d

{1, 2, 3, 4, 5}

In [62]:
# Set the contents of d to be the intersection of the elements in d and b
d &= b
d

{3, 4, 5}

In [63]:
# Check if a set is a subset of another set
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [64]:
# Sets are equal if their contents are equal
{1, 2, 3} == {3, 2, 1}

True

## 5. List, Set & Dictionary comprehensions

**[expr for value in collection if condition]**

In [65]:
strings = ["a", "as", "bat", "car", "dove", "python"]

upper = [x.upper() for x in strings if len(x) > 2]
upper

['BAT', 'CAR', 'DOVE', 'PYTHON']

**dict_comp = {key-expr: value-expr for value in collection if condition}**

In [66]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

**set_comp = {expr for value in collection if condition}**

In [67]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [68]:
set(map(len, strings))

{1, 2, 3, 4, 6}

**Nested list comprehensions**

In [69]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [70]:
names_of_interest = []

for names in all_data:
    enough_as = [name for name in names if name.count('a') >= 2]
    names_of_interest.extend(enough_as)

names_of_interest

['Maria', 'Natalia']

In [71]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [72]:
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
[list(tup) for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# II. Functions

In [75]:
# Function starts with the 'def' keyword
def my_function(x, y):
    return x + y

my_function(1, 2)

3

In [76]:
# Call the fruitfull function
result = my_function (1, 2)
result

3

In [77]:
# Create a void function
def function_without_return(x):
    print(x)
    
result = function_without_return("hello!")
result

hello!

In [78]:
print(result)

None

In [79]:
# Each function can have positional (default) & keyword arguments (optional)
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [80]:
my_function2(5, 6, z=0.7)

0.06363636363636363

In [81]:
my_function2(3.14, 7, 3.5)

35.49

In [82]:
my_function2(10, 20)

45.0

## 1. Returning multiple values

In [83]:
# Return multiple values

def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

return_value = f()
return_value

(5, 6, 7)

In [84]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a": a, "b": b, "c": c}

return_value = f()
return_value

{'a': 5, 'b': 6, 'c': 7}

## 2. Functions are objects

In [85]:
states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south carolina##", "West virginia?"]

In [86]:
import re

# Approach 1: Put all buit-in methods in the function
def clean_strings(strings):
    result = []
    for value in strings:
        # split each word to a row
        value = value.strip()
        # remove special characters
        value = re.sub("[!#?]", "", value)
        # capitalize the first letter of each word
        value = value.title()
        
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [87]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

# Approach 2: Make a list of the operations you want to apply
clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [88]:
# Use the 'map' built-in function
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

## 3. Anonymous (Lambda) functions

In [89]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [90]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

strings.sort(key=lambda x: len(set(x)))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## 4. Generator

In [91]:
some_dict = {"a": 1, "b": 2, "c": 3}

for key in some_dict:
    print(key)

a
b
c

In [92]:
dict_iterator = iter(some_dict)
dict_iterator

In [93]:
list(dict_iterator)

['a', 'b', 'c']

In [94]:
def squares(n=10):
    print(f"Generating squares from 1 to {n**2}:")
    for i in range(1, n+1):
        yield i ** 2

gen = squares()

In [95]:
gen

In [96]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100:
1 4 9 16 25 36 49 64 81 100

### Generator expressions

In [97]:
# Enclose what would otherwise be a list comprehension within parentheses
gen = (x ** 2 for x in range(100))
gen

In [98]:
# Equivalent to this
def _make_gen():
    for x in range(100):
        yield x ** 2
        
gen = _make_gen()
gen

In [99]:
sum(x**2 for x in range(100))

328350

In [100]:
dict((i, i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### itertools module

In [101]:
import itertools

def first_letter(x):
    return x[0]

In [102]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']